body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: silver;
}

header {
    background: linear-gradient(to right, #020202, #b4b3b3);
    color :white;
    text-align: center;
    padding: 20px 0;
}
