{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>detail produk </title>
        <link rel="stylesheet" href="{% static 'stylee.css' %}">
    </head>
    <body>
        <header>
            <h1>WELCOME TO MY WEBSITE</h1>
          </header>
          <nav>
            <ul>
                <li><a href ="/members">Home</a></li>
                <li><a href ="/dt" class="active">Koleksi</a></li>
                <li><a href ="/list">Isi Data</a></li>
                <li><a href ="/book">Data</a></li>
                <li><a href ="/members">Logout</a></li>
            </ul>
            </nav>
        <div class="container">
            <div class="library">
            </div>
   
            <h1>Data</h1>
            <table border ="1">
               
                <tr>
                    <th>nama_pinjam</th>
                    <th>{{ buku.nama_pinjam}}</th>
                </tr>
                <tr>
                    <th>Judul buku</th>
                    <th>{{ buku.judul_buku}}</th>
                </tr>
                <tr>
                    <th>tgl_pinjam</th>
                    <th>{{ buku.tgl_pinjam}}</th>
                </tr>
                <tr>
                    <th>kembalian</th>
                    <th>{{ buku.kembalian}}</th>
                </tr>
                <tr>
                    <th>Kategori</th>
                    <th>{{ buku.kategori}}</th>
                </tr>
                
            </table>   
    </head>
</body>
</html>