{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>halaman</title>
        <link rel="stylesheet" href="{% static 'stylee.css' %}">
</head>
<body>
    <header>
      <h1>WELCOME TO MY WEBSITE</h1>
    </header>
    <nav>
    <ul>
        <li><a href ="/members">Home</a></li>
        <li><a href ="#" class="active">Beranda</a></li>
        <li><a href ="/book">Data</a></li>
        <li><a href ="/produk">Menu</a></li>
        <li><a href ="/members">Logout</a></li>
    </ul>
    </nav>
    <div class="container">
    <div class="library">
      <h2>SELAMAT DATANG DIPERPUSTAKAAN MERAIH MIMPI</h2>
      <P>Menyediakan koleksi buku terbaru dan yang terbaik</P>
    </div>
    <div class="pos">
      <div class="card">
        <div class="card-image">
          <img src="{% static 'jhg.jpg' %}" alt="judul buku">
        </div>
        <div class="card-details">
          <h3 class="book-title">Tips Belajar Komputer</h3>
          <p class="book-details">Penerbit : alinea</p>
          <p class="book-details">Tahun Terbit : 2021</p>
        </div>
        <div class="button">
          <button class="">Pinjam</button>
          <button class="">Detail</button>
        </div>
      </div>
    </div>
    </div>
   
        </body>
    </head>
</html>