{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>halaman</title>
        <link rel="stylesheet" href="{% static 'stylee.css' %}">
</head>
<body>
    <header>
        <h1>WELCOME TO MY LIBRARY</h1>
      </header>
      <nav>
        <ul>
            <li><a href ="">Home</a></li>
            <li><a href ="/dt" class="active">Koleksi</a></li>
            <li><a href ="/list">Isi Data</a></li>
            <li><a href ="/book">Data</a></li>
            <li><a href ="">Logout</a></li>
        </ul>
        </nav>
    <div class="container">
        <div class="library">
            <h2>TENTANG WEB DISINI !!!</h2>
            <br><p>Web ini merupakan project Perpustakaan yang dibuat sangatlah sederhana namun dari web perpustakaan</p>
            <p>inilah kita dapat lebih mudah untuk mengakses di pencarian buku yang kita butuhkan</p>
            <p>dan kita dapat membaca buku yang kita dibutuhkan dan di inginkan.bahkan perlu kita diketahui bahwa Perpustakaan</p>
            <p>adalah tempat dimana kita dapat belajar dengan tumbuh dan dapat menginspirasi diri.</p> 
            <p>Perpustakaan juga bisa diartikan dengan koleksi buku, majalah, dan bahan kepustakaan lain yang disimpan</p>
            <p>untuk dibaca, dipelajari, dibicarakan dan Ada banyak pengetahuan yang bisa kamu temukan di dalam sebuah perpustakaan</p>
            <p>Banyak ilmu dan penemuan baru bersumber dari perpustakaan.</p>
              
         </div>  
        </body>
    </head>
</html>