{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>halaman</title>
        <link rel="stylesheet" href="{% static 'stylee.css' %}">
</head>
<body>
    <header>
        <h1>WELCOME TO MY LIBRARY</h1>
      </header>
      <nav>
        <ul>
            <li><a href ="">Home</a></li>
            <li><a href ="/dt" class="active">Koleksi</a></li>
            <li><a href ="/list">Isi Data</a></li>
            <li><a href ="/book">Data</a></li>
            <li><a href ="">Logout</a></li>
        </ul>
        </nav>
    <div class="container">
        <div class="library">
            <h2>TENTANG WEB DISINI</h2>
            <br><p>Web ini merupakan project Perpustakaan yang dibuat sangat sederhana sesuai dengan skill kemampuan saya.</p>
            <p>namun dari web perpustakaan inilah kita dapat lebih mudah untuk mengakses peminjaman buku yang kita butuhkan</p>
            <p>seperti kita dapat meminjam buku dengan kemauan dan kebutuhan kita dan bahkan perlu kita diketahui bahwa Perpustakaan</p>
            <p>adalah tempat dimana kita dapat belajar dengan tumbuh dan dapat menginspirasi diri kita sendiri.</p> 
            <p>Perpustakaan juga bisa diartikan dengan koleksi buku, majalah, dan bahan kepustakaan lain yang disimpan</p>
            <p>untuk dibaca, dipelajari, dibicarakan dan Ada banyak pengetahuan yang bisa kamu temukan di dalam sebuah perpustakaan</p>
            <p>Banyak ilmu dan penemuan baru bersumber dari perpustakaan.</p>
            <br><br> 
            <p>__SELAMAT MENGUNJUNGI WEB INI__</p>
         </div>  
        </body>
    </head>
</html>