{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{% static 'stylee.css' %}">

</head>
<body>
    <header>
        <h1>WELCOME TO MY LIBRARY</h1>
      </header>
      <nav>
        <ul>
            <li><a href ="">Home</a></li>
            <li><a href ="/dt" class="active">Koleksi</a></li>
            <li><a href ="/list">Isi Data</a></li>
            <li><a href ="/book">Data</a></li>
            <li><a href ="/members">Logout</a></li>
        </ul>
        </nav>
    <div class="container">
        <div class="library">
            <h2>ISI DATA FORMULIR</h2>
    </div>
 {% csrf_token %}
  <form action="" method="post">
  {{ from.as_p }}

      <label for="uname">Kategori</label><br>
      {{form.kategori}}<br><br>
  
      <label for="uname">Nama Peminjam</label><br>
      {{form.nama_pinjam}}
      <br><br>
      <label for="uname">Judul Buku</label><br>
      {{form.judul_buku}}<br><br>
     
      <label for="uname">Tgl_Pinjam</label><br>
      {{form.tgl_pinjam}}<br><br>
     
      <label for="uname">Kembalian</label><br>
      {{form.kembalian}}<br><br>
      
     

      <input type="submit" value="kirim">

      

  </form>
</body>
</html>