{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
	<link rel="stylesheet" href="{% static 'stylee.css' %}">
</head>
<body>
    <header>
        <h1>WELCOME TO MY WEBSITE</h1>
      </header>
      <nav>
        <ul>
            <li><a href ="/members">Home</a></li>
            <li><a href ="/dt" class="active">Beranda</a></li>
            <li><a href ="/book">Data</a></li>
            <li><a href ="/produk">Menu</a></li>
            <li><a href ="/members">Logout</a></li>
        </ul>
        </nav>
    <div class="container">
        <div class="library">
          <h2>TAMPILAN PRODUK</h2>
        </div>
 <p>
    <table border ="1">
        <tr>
            <th>ID</th>
            <th>Nama Produk</th>
        </tr>

        {% for dt in data %}
        <tr>
            <td>{{dt.id}}</td>
            <td><a href="detail/{{dt.id}}">{{dt.namaProduk}}</a></td>
        </tr>
        {% endfor %}
    </table>
</p>
</body>
</html>